VITE_API_BASE_URL=/api/v1
VITE_WHATSAPP_NUMBER=37499123456
VITE_DEV_ALLOWED_HOSTS=wanted-tackle-washbasin.ngrok-free.dev
VITE_DEV_API_PROXY_TARGET=http://localhost:8000
VITE_NGROK_SKIP_BROWSER_WARNING=false
